<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/png" href="images/favicon-small.png" sizes="16x16">
	<link rel="icon" type="image/png" href="images/favicon-large.png" sizes="32x32">
	<title>Graphs DB</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body class="admin-bg">
	<div class="container pb-4">
		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1">
				<div class="row py-4">
					<div class="col-6 my-auto">
						<div class="logo">
							<a href="/">
								<img src="images/graphs-logo.svg">	
							</a>
						</div>
					</div>
					<div class="col-6">
						<button class="btn btn-dark float-right"><a href="login.html">Logout</a></button>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-5">
			<div class="col-12 col-lg-10 offset-lg-1">
				<h3 class="pt-5 pb-4">Upload Summary</h3>
				<table class="table table-borderless table-sm table-upload">
					<tbody>
						<tr>
							<th scope="row">Total Entries</th>
							<td>100</td>
						</tr>
						<tr>
							<th scope="row">Verified</th>
							<td>99</td>
						</tr>
						<tr>
							<th scope="row">Error</th>
							<td colspan="2">1</td>
						</tr>
					</tbody>
				</table>
				<button class="btn btn-secondary mt-5"><a href="admin-dash.html">Replace File</a></button>
				<button class="btn btn-dark ml-2 mt-5"><a href="admin-dash.html">Complete Upload</a></button>
			</div>
		</div>
	</div>
</div>
</body>
</html>
