<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="images/favicon-small.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicon-large.png" sizes="32x32">
    <title>Graphs DB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
</head>

<body class="article-bg">
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="row pt-0 pb-2 pt-md-4">
                <div class="col-12 col-md-4 col-lg-3 my-auto">
                    <div class="logo py-5 py-md-0 ">
                        <a href="/">
                            <img src="images/graphs-logo.svg" class="mx-auto mx-md-0">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <div class="form-group form-search mb-0 mr-6">
                        <span class="fa fa-search form-icon"></span>
                        <input type="text" id="search" class="form-control"
                               placeholder="Search person, article, journal...">
                        <div class="search-dropdown" id="suggest" style="display: none">
                            <button type="button" class="dropdown-item suggestButton" onclick="toList(this)"><span
                                    id="person"></span> results in <em>Person</em></button>
                            <button type="button" class="dropdown-item suggestButton" onclick="toList(this)"><span
                                    id="article"></span> results in <em>Article</em></button>
                            <button type="button" class="dropdown-item suggestButton" onclick="toList(this)"><span
                                    id="journal"></span> results in <em>Journal</em></button>
                            <button type="button" class="dropdown-item disabled" id="alert0"><i> <em>0</em> result is
                                found</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-5 pb-md-4">
        <div class="col-12 col-lg-8">
            <div class="card-m card-article">
                <div class="row">
                    <div class="col-2 col-lg-1">
                        <span class="far fa-file-alt card-icon"></span>
                    </div>
                    <div class="col-10 col-lg-11" th:object="${aDetailVO.article}">
                        <h4 class="pb-3" th:text="*{title}">Defining “Fake News” A typology of
                            scholarly definitions</h4>
                        <p th:if="*{authors!=null}" th:text="*{authors[0].person.name}">EC Tandoc Jr, ZW Lim, R Ling</p>
                        <p class="ml-5"><b>Published In</b></p>
                        <p class="ml-3" th:text="*{year}">2018</p>
                        <p class="ml-5"><b>Journal</b></p>
                        <p class="ml-3" th:text="*{journal!=null?journal.title:'N.A'}">Digital Journalism</p>
                    </div>
                </div>
            </div>
            <div class="card-m card-graph">
                <div id="graphContainer" style="width: 100%;height:600px"></div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="card-m" th:if="${aDetailVO.article.journal!=null}">
                        <h5>Related Journal</h5>
                        <!--                        ToDo-->
                        <a th:href="|journal-detail?title=${aDetailVO.article.journal.title}|" class="card-hover">
                            <div class="card-s card-journal card-s-journal">
                                <span class="fa fa-book card-icon"></span>
                                <div class="card-s-info ml-5">
                                    <h6 class="mb-1" th:text="${aDetailVO.article.journal.title}">Digital
                                        Journalism</h6>
                                    <p><b>Articles</b></p>
                                    <p class="ml-2" th:text="${aDetailVO.jCounter}">345</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="card-m">
                        <h5>Related Persons</h5>
                        <div th:each="rp:${aDetailVO.relatedPersons}">
                            <a class="card-hover" th:href="|person-detail?name=${rp.name}|">
                                <div class="card-s card-person card-s-person">
                                    <span class="fa fa-user-circle card-icon"></span>
                                    <div class="card-s-info ml-5">
                                        <h6 class="mb-1" th:text="${rp.name}">Patrick Ferrucci</h6>
                                        <p th:text="${rp.gender}">Male</p>
                                        <p class="ml-4"><b>Articles</b></p>
                                        <p class="ml-2" th:text="${rp.counter}">121</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/search.js"></script>
<script src="js/column-chart-person.js"></script>
<script th:inline="javascript">
    window.onload = function () {

        let nodeMap = {};

        const graph = /*[[${aDetailVO.echartsVO}]]*/ "";
        console.log(graph);
        const dom = document.getElementById("graphContainer");
        const myChart = echarts.init(dom);
        const app = {};
        let option;
        const colorTable = ['rgba(76, 142, 230, 1)', 'rgba(228, 78, 43, 1)', 'rgba(248, 181, 41, 1)'];
        // myChart.showLoading();
        graph.nodes.forEach(function (node) {
            node.symbolSize = 30;
        });
        graph.nodes.forEach(function (node) {
            node.category = parseInt(node.category);
            node.label = {show: false};
            // construct id,name
            nodeMap[node.id] = node.name;
        })
        option = {
            title: {
                text: ' ',
                subtext: 'Default layout',
                top: 'bottom',
                left: 'right'
            },
            tooltip: {
                position: 'top',
                confine: true,
                formatter: function (d) {
                    if(d.dataType==='node'){
                        let terms = d.name.split(' ');
                        let result = '';
                        let len = 0;
                        for (let i = 0; i < terms.length; i++) {
                            if(result.indexOf('<br>')===-1){
                                if(len+terms[i].length+1>37){
                                    result += '<br>';
                                    len = 0;
                                }
                            }else{
                                if(len+terms[i].length+1>43){
                                    result += '<br>';
                                    len = 0;
                                }
                            }
                            result += terms[i]+' ';
                            len += terms[i].length+1;
                        }
                        console.log(d);
                        if (d.data.category === 0 || d.data.category === 3) {
                            return `<p><b>Name:&nbsp</b> ${result}</p><br>
                                <p><b>Gender:&nbsp</b>${d.data.gender}</p><br>
                                <p><b>Status:&nbsp</b>${d.data.gender}</p>`
                        } else if (d.data.category === 1) {
                            let year = d.data.year!==undefined?d.data.year:'N.A';
                            return `<p><b>Title:&nbsp</b>${result}</p><br>
                                <p><b>Year:&nbsp</b>${year}</p>`;
                        } else if (d.data.categories===2){
                            return `<p><b>Title:&nbsp</b>${result}</p>`;
                        }
                    }else if(d.dataType==='edge'){
                        let source = nodeMap[d.data.source];
                        let target = nodeMap[d.data.target];
                        source = source.length>17?source.slice(0,17)+'...':source;
                        target = target.length>17?target.slice(0,17)+'...':source;
                        const order = d.data.order;
                        const tooltip = `<p>${source}<b>&nbsp→&nbsp</b>${target}</p><br>
                                         <p><b>Type:&nbsp</b></p>${d.data.type}`;
                        if(d.data.type==='WROTE'){
                            return tooltip+`<br><p><b>Order:&nbsp</b>${order}</p>`
                        }else{
                            return tooltip;
                        }
                    }
                },
                extraCssText: 'width:350px;',
                textStyle:{
                    fontFamily : 'poppins',
                    fontSize: 14
                }
            },
            toolbox: {
                show: true,
                itemSize: 45,
                top: '88%',
                right: '3%',
                feature: {

                    saveAsImage: {
                        show: true,
                        icon: 'image://images/download.png'
                    }
                }
            },
            legend: [{
                // selectedMode: 'single',
                data: graph.category.map(function (a) {
                    return a.name;
                })
            }],
            series: [
                {
                    type: 'graph',
                    layout: 'force',
                    data: graph.nodes,
                    links: graph.links,
                    categories: graph.category,
                    roam: true,
                    draggable: true,
                    label: {
                        show: true
                    },
                    force: {
                        repulsion: 300,
                        edgeLength: 60
                    },
                    emphasis: {
                        focus: 'adjacency',
                        lineStyle: {
                            width: 10
                        }
                    }
                }
            ],
            color: colorTable
        };

        myChart.setOption(option);

        if (option && typeof option === 'object') {
            myChart.setOption(option);
        }
    }

    fillSearchBar();

    function fillSearchBar() {
        const searchBar = document.querySelector("#search");
        const referer = document.referrer;
        const index = referer.indexOf('keyword=');
        if (index !== -1) {
            searchBar.value = decodeURI(referer.slice(index + 8));
        }
    }
</script>
</body>
</html>
