<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="images/favicon-small.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicon-large.png" sizes="32x32">
    <title>Graphs DB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body class="home-bg">
<div class="home-gradient"></div>
<div class="container home-content">
    <div class="row">
        <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
            <div class="logo pt-5 pt-md-0 pb-5">
                <a href="index.html">
                    <img src="images/graphs-logo.svg" class="mx-auto">
                </a>
            </div>
            <h1 class="pt-5">Find & discover scholarly literature with a new experience.</h1>
            <div class="form-group form-search py-4 my-3">
                <span class="fa fa-search form-icon"></span>
                <input type="text" class="form-control" placeholder="Search person, article, journal...">
            </div>
            <h2>Explore</h2>
            <div class="row pb-3">
                <div class="col-12 col-md-4">
                    <a href="/listing?category=0" class="card-hover">
                        <div class="card-m card-person">
                            <span class="fa fa-user-circle card-icon"></span>
                            <h3 class="pt-2 pb-3 pt-md-3 pb-md-5 mb-2">Person</h3>
                            <h6 th:text="|${person} Results|">233 Results</h6>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a href="/listing?category=1" class="card-hover">
                        <div class="card-m card-article">
                            <span class="far fa-file-alt card-icon"></span>
                            <h3 class="pt-2 pb-3 pt-md-3 pb-md-5 mb-2">Article</h3>
                            <h6 th:text="|${article} Results|">7362 Results</h6>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a href="/listing?category=2" class="card-hover">
                        <div class="card-m card-journal">
                            <span class="fa fa-book card-icon"></span>
                            <h3 class="pt-2 pb-3 pt-md-3 pb-md-5 mb-2">Journal</h3>
                            <h6 th:text="|${journal} Results|">1022 Results</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
</body>
</html>